<div class="view view-auth d-hidden">
  <p>Step 2. Authenticate using your key.</p>
  <input class="btn btn-secondary" type="button" value="Authenticate" onClick="authenticate()">
  <div class="status">
    <span id="authtext"></span><br>
  </div>
</div>
