<div class="view view-register">
  <h3>Register your key</h3>
  <input
    class="btn btn-primary"
    type="button"
    autofocus=""
    onClick="register()"
    value="Register a 2FA key">
  <div class="status alert alert-info">
    <span id="regtext"></span><br>
  </div>
</div>

<script src="./js/register.js" ></script>
