<html>
<head>
  <title>U2F</title>
  <link rel="stylesheet" href="./style.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">U2F Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link <% if (view === 'index') { %>active<% } %>" href="/">Register <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link <% if (view === 'auth') { %>active<% } %>" href="/auth">Authenticate</a>
        <a class="nav-item nav-link <% if (view === 'otp') { %>active<% } %>" href="/otp">OTP</a>
      </div>
    </div>
  </nav>

  <%- include(view, {data}) %>

  <div id="appid" class="fixed-bottom text-right"></div>

  <script src="./js/u2f-api.js"></script>
  <script src="./js/util.js"></script>
</body>
</html>
