<div class="view view-otp">
  <p>Verify using your keys OTP feature</p>
  <input class="btn btn-primary" type="button" value="Verify" onClick="verify()">
  <div class="status">
    <span id="otptext"></span><br>
  </div>
</div>
